.scrollTop {
    position: fixed;
    bottom: 800px;
    right: 30px;
    width: 3rem;
    height: 3rem;
    background: #00ADB5 url('./../assets/img/icons/scroll.png');
    border-radius: 50%;
    background-size: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.5s;
}

.scrollTop.active {
    bottom: 30px;
    visibility: visible;
    opacity: 1;
}

@media (min-width: 750px) {
    .scrollTop {
        width: 3.5rem;
        height: 3.5rem;
        background-size: 1.8rem;
    }
}