@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #1A1A29;
  min-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  /* Cambiamos el fondo cuando esté en active */
  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  /* Cambiamos el fondo cuando esté en active o hover */
}
html::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}
html::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
html::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
html::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
html::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
html::-webkit-scrollbar-track:hover, html::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A29;
  overflow-x: hidden;
}

.cabecera-container {
  background-color: #181824;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}
.cabecera-container .logo a img {
  max-width: 10rem;
}

.sec-home {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  align-items: center;
  justify-content: space-between;
}
.sec-home .home-cta {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sec-home .home-cta .cta-text {
  color: #00ADB5;
}
.sec-home .home-cta .cta-text .write {
  position: relative;
  float: left;
  font-size: 1.2rem;
  padding-right: 3px;
}
.sec-home .home-cta .cta-text .write span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: #1A1A29;
  border-left: 3px solid;
  animation: escribir 3s steps(30), blink 0.5s infinite step-end alternate;
}
@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.sec-home .home-cta .home-title {
  font-size: 3rem;
  color: #FFFFFF;
}
.sec-home .home-cta .home-description {
  max-width: 414px;
  color: #FFFFFF;
}
.sec-home .home-cta .lead-magnet a {
  margin-right: 2rem;
  text-decoration: none;
}
.sec-home .home-img img {
  flex: 1;
  display: flex;
  width: 20rem;
  border-radius: 50%;
}

.sec-about-me {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 3rem 3em 3rem;
  flex-direction: column;
  justify-content: start;
}
.sec-about-me .about-title {
  font-size: 2rem;
  color: #00ADB5;
  margin-bottom: 1.5rem;
  text-align: center;
}
.sec-about-me .about-text {
  max-width: 100%;
  color: #FFFFFF;
}

.sec-services {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 0 3em 3rem;
  flex-direction: column;
  justify-content: center;
}
.sec-services .services-title {
  font-size: 2rem;
  color: #00ADB5;
  text-align: center;
  margin-bottom: 2rem;
}

.sec-projects {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 0 3em 3rem;
  flex-direction: column;
  justify-content: center;
}
.sec-projects .projects-title {
  font-size: 2rem;
  color: #00ADB5;
  text-align: center;
  margin-bottom: 2rem;
}
.sec-projects .projects-text {
  max-width: 100%;
  color: #FFFFFF;
}

.sec-skills {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 0 3em 3rem;
  flex-direction: column;
  justify-content: center;
}
.sec-skills .skills-title {
  font-size: 2rem;
  color: #00ADB5;
  text-align: center;
}

.sec-contact {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 0 3em 3rem;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  margin-bottom: 100px;
}
.sec-contact .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .sec-contact .contact {
    flex-direction: column;
  }
}
.sec-contact .contact ul {
  padding-left: 0;
}
.sec-contact .contact .contact-izq {
  flex: 1;
}
.sec-contact .contact .contact-der {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sec-contact .contact .contact-der h2 {
  font-size: 1.3rem;
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 1.2rem;
  border: 1px solid #00ADB5;
}
.sec-contact .contact .contact-der p {
  font-size: 1rem;
  line-height: 1.75;
  margin-top: 1rem;
  width: 90%;
}
.sec-contact .contact .contact-der a {
  display: block;
  width: 45%;
  max-width: 280px;
  margin: 1rem auto;
  padding: 0.6rem;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--grey);
  font-weight: 600;
  background-color: rgb(0, 173, 181);
  transition: transform 200ms ease-in 0s;
}
.sec-contact .contact .contact-der a:hover {
  transform: scale(1.05);
}
.sec-contact .contact .contact--links {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid #00ADB5;
  font-size: 1.5rem !important;
  margin-top: 2.5rem;
}
.sec-contact .contact .links li {
  list-style: none;
}
.sec-contact .contact .links li a > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  animation: animLink 10s infinite alternate;
}
.sec-contact .contact .links li a {
  border-radius: 3rem;
  width: 62%;
  margin: 1.5rem auto;
  padding: 0.7rem 1rem;
  border: 1px solid #00ADB5;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #FFFFFF;
  font-size: 1rem;
}
@keyframes animLink {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  position: relative;
  width: 100%;
  background-color: #00ADB5;
  min-height: 50px;
  padding: 0 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer p {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./../assets/img/wave.png");
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

.btn-cv, .btn-cv-s {
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background-color: #1A1A29;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
}
.btn-cv:hover, .btn-cv-s:hover {
  color: #00ADB5;
  border: solid 1px #FFFFFF;
  cursor: pointer;
}
.btn-cv-s {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
}
.btn-cv i, .btn-cv-s i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.nav nav .list-nav {
  margin-bottom: 0;
}
.nav nav .list-nav li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
  list-style: none;
  display: inline;
  margin-right: 3rem;
}
.nav nav .list-nav li a {
  color: #FFFFFF;
  text-decoration: none;
  background-image: linear-gradient(#00ADB5, #00ADB5);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.nav nav .list-nav li a:hover {
  color: #00ADB5;
  background-size: 100% 2px;
  cursor: pointer;
}

.separator {
  width: 100%;
  height: 7rem;
  background-color: #181824;
}

.btn-home, .btn-home-git, .btn-home-cv {
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}
.btn-home-cv {
  background-color: #00ADB5;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
}
.btn-home-cv:hover {
  background-color: transparent;
  border: solid 1px #FFFFFF;
  cursor: pointer;
}
.btn-home-git {
  background-color: transparent;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
}
.btn-home-git:hover {
  background-color: #00ADB5;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
  cursor: pointer;
}
.btn-home i, .btn-home-cv i, .btn-home-git i {
  margin-left: 0.2rem;
}

.skills {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  margin-top: 3rem;
}
.skills div {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills div > img {
  width: 4rem;
  height: 4rem;
}
.skills div:nth-child(2n) > img {
  animation: animSkill 2s infinite linear alternate;
}
.skills div:nth-child(2n+1) > img {
  animation: animSkill2 2s infinite linear alternate;
}
.skills li {
  font-size: 1.5rem;
}
@keyframes animSkill {
  0% {
    transform: scale(0.7) rotate(-15deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes animSkill2 {
  0% {
    transform: scale(0.7) rotate(15deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@media screen and (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: auto;
}
.services .card-services {
  width: 284px;
  height: 318px;
  background-color: transparent;
  border-radius: 5%;
  margin: 0 12px 32px 0;
  transition: 0.3s;
}
.services .card-services .card-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .card-services .card-content .card-services-text {
  margin: 1rem 1rem 0;
  text-align: center;
  color: #FFFFFF;
}
.services .card-services .card-content .card-services-text .card-services-title {
  font-size: x-large;
  text-transform: uppercase;
}
.services .card-services .card-content .card-services-text .card-services-description {
  font-size: small;
  font-weight: 400;
}
.services .card-services:nth-child(even) {
  border: 1px solid #FFFFFF;
}
.services .card-services:nth-child(even) .card-content .card-services-text .card-services-title {
  color: #00ADB5;
}
.services .card-services:nth-child(odd) {
  border: 1px solid #00ADB5;
}
.services .card-services:nth-child(odd) .card-content .card-services-text .card-services-title {
  color: #FFFFFF;
}
.services .card-services:hover {
  transform: scale(1.02);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: auto;
}
.projects .card-project {
  width: 284px;
  height: 385px;
  background-color: #31313F;
  border-radius: 5%;
  margin: 0 12px 32px 0;
  padding: 12px 12px 0 12px;
  justify-content: start;
  align-items: center;
  transition: 0.1s;
}
.projects .card-project .card-project-img {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  overflow: hidden;
  filter: opacity(0.5);
  transition: filter 0.7s ease-in-out;
}
.projects .card-project .card-project-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.projects .card-project .card-project-content-text {
  margin: 1rem 1rem 0;
  color: #FFFFFF;
}
.projects .card-project .card-project-content-text .card-project-title {
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  color: #00ADB5;
}
.projects .card-project .card-project-content-text .card-project-description {
  height: 78px;
  font-size: small;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar {
  -webkit-appearance: none;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar:vertical {
  width: 5px;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-button:increment, .projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-button {
  display: none;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar:horizontal {
  height: 10px;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-track {
  border-radius: 10px;
}
.projects .card-project .buttons-project {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.projects .card-project .buttons-project a button {
  font-size: revert;
}
.projects .card-project:hover {
  transform: scale(1.03);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.projects .card-project:hover .card-project-img {
  filter: opacity(1);
}

/*# sourceMappingURL=styles.css.map */
