@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #1A1A29;
  min-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A29;
  overflow-x: hidden;
}

.cabecera-container {
  background-color: #181824;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}
.cabecera-container .logo a img {
  max-width: 10rem;
}

.sec-home {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  align-items: center;
  justify-content: space-between;
}
.sec-home .home-cta {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sec-home .home-cta .cta-text {
  color: #00ADB5;
}
.sec-home .home-cta .home-title {
  font-size: 3rem;
  color: #FFFFFF;
}
.sec-home .home-cta .home-description {
  max-width: 414px;
  color: #FFFFFF;
}
.sec-home .home-cta .lead-magnet a {
  margin-right: 2rem;
  text-decoration: none;
}
.sec-home .home-img img {
  flex: 1;
  display: flex;
  width: 20rem;
  border-radius: 50%;
}

.sec-about-me {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 3rem 3em 3rem;
  flex-direction: column;
  justify-content: start;
}
.sec-about-me .about-title {
  font-size: 2rem;
  color: #00ADB5;
  margin-bottom: 1.5rem;
  text-align: center;
}
.sec-about-me .about-text {
  max-width: 100%;
  color: #FFFFFF;
}

.sec-services {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 0 3em 3rem;
  flex-direction: column;
  justify-content: center;
}
.sec-services .services-title {
  font-size: 2rem;
  color: #00ADB5;
  text-align: center;
  margin-bottom: 2rem;
}

.sec-projects {
  display: flex;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 6rem 3em 2rem;
  padding: 0 3em 3rem;
  flex-direction: column;
  justify-content: center;
}
.sec-projects .projects-title {
  font-size: 2rem;
  color: #00ADB5;
  text-align: center;
  margin-bottom: 2rem;
}
.sec-projects .projects-text {
  max-width: 100%;
  color: #FFFFFF;
}

.btn-cv, .btn-cv-s {
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background-color: #1A1A29;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
}
.btn-cv:hover, .btn-cv-s:hover {
  color: #00ADB5;
  border: solid 1px #FFFFFF;
  cursor: pointer;
}
.btn-cv-s {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
}
.btn-cv i, .btn-cv-s i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.nav nav .list-nav {
  margin-bottom: 0;
}
.nav nav .list-nav li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
  list-style: none;
  display: inline;
  margin-right: 3rem;
}
.nav nav .list-nav li a {
  color: #FFFFFF;
  text-decoration: none;
  background-image: linear-gradient(#00ADB5, #00ADB5);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.nav nav .list-nav li a:hover {
  color: #00ADB5;
  background-size: 100% 2px;
  cursor: pointer;
}

.separator {
  width: 100%;
  height: 7rem;
  background-color: #181824;
}

.btn-home, .btn-home-git, .btn-home-cv {
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}
.btn-home-cv {
  background-color: #00ADB5;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
}
.btn-home-cv:hover {
  background-color: transparent;
  border: solid 1px #FFFFFF;
  cursor: pointer;
}
.btn-home-git {
  background-color: transparent;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
}
.btn-home-git:hover {
  background-color: #00ADB5;
  color: #FFFFFF;
  border: solid 1px #00ADB5;
  cursor: pointer;
}
.btn-home i, .btn-home-cv i, .btn-home-git i {
  margin-left: 0.2rem;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: auto;
}
.services .card-services {
  width: 284px;
  height: 318px;
  background-color: transparent;
  border-radius: 5%;
  margin: 0 12px 32px 0;
}
.services .card-services .card-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .card-services .card-content .card-services-text {
  margin: 1rem 1rem 0;
  text-align: center;
  color: #FFFFFF;
}
.services .card-services .card-content .card-services-text .card-services-title {
  font-size: x-large;
  text-transform: uppercase;
}
.services .card-services .card-content .card-services-text .card-services-description {
  font-size: small;
  font-weight: 400;
}
.services .card-services:nth-child(even) {
  border: 1px solid #FFFFFF;
}
.services .card-services:nth-child(even) .card-content .card-services-text .card-services-title {
  color: #00ADB5;
}
.services .card-services:nth-child(odd) {
  border: 1px solid #00ADB5;
}
.services .card-services:nth-child(odd) .card-content .card-services-text .card-services-title {
  color: #FFFFFF;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: auto;
}
.projects .card-project {
  width: 284px;
  height: 385px;
  background-color: #31313F;
  border-radius: 5%;
  margin: 0 12px 32px 0;
  padding: 12px 12px 0 12px;
  justify-content: start;
  align-items: center;
}
.projects .card-project .card-project-img {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  overflow: hidden;
}
.projects .card-project .card-project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .card-project .card-project-content-text {
  margin: 1rem 1rem 0;
  color: #FFFFFF;
}
.projects .card-project .card-project-content-text .card-project-title {
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  color: #00ADB5;
}
.projects .card-project .card-project-content-text .card-project-description {
  height: 78px;
  font-size: small;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar {
  -webkit-appearance: none;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar:vertical {
  width: 5px;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-button:increment, .projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-button {
  display: none;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar:horizontal {
  height: 10px;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.projects .card-project .card-project-content-text .card-project-description::-webkit-scrollbar-track {
  border-radius: 10px;
}
.projects .card-project .buttons-project {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.projects .card-project .buttons-project a button {
  font-size: revert;
}

/*# sourceMappingURL=styles.css.map */
