// Importar las variables
@use "./variables";



// BOTONES
// Mixin para los botones
@mixin btn-base {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify {
    font-family: variables.$font-family;
    font-weight: variables.$medium;
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
}


.btn-cv {
    @include btn-base();
    background-color: variables.$color-bg;
    color: variables.$color-white;
    border: solid 1px variables.$color-primary;

    &:hover {
        // background-color: variables.$color-primary;
        color: variables.$color-primary;
        border: solid 1px variables.$color-white;
        cursor: pointer;
    }

    &-s {
        @extend .btn-cv;
        @include btn-sm-modify();
    }

    i {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
}


// Lista de navegación
.nav {
    nav {
        .list-nav {
            margin-bottom: 0;

            li {
                font-family: variables.$font-family;
                font-weight: variables.$medium;
                font-size: 0.95rem;
                list-style: none;
                display: inline;
                margin-right: 3rem;

                a {
                    color: variables.$color-white;
                    text-decoration: none;
                    background-image: linear-gradient(variables.$color-primary, variables.$color-primary);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;

                    &:hover {
                        color: variables.$color-primary;
                        background-size: 100% 2px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


// Separador
.separator {
    width: 100%;
    height: 7rem;
    background-color: variables.$color-bg-2;
}

// BTN-CV-HOME
.btn-home {
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;

    &-cv {
        @extend .btn-home;
        background-color: variables.$color-primary;
        color: variables.$color-white;
        border: solid 1px variables.$color-primary;

        &:hover {
            background-color: transparent;
            border: solid 1px variables.$color-white;
            cursor: pointer;
        }
    }

    &-git {
        @extend .btn-home;
        background-color: transparent;
        color: variables.$color-white;
        border: solid 1px variables.$color-primary;

        &:hover {
            background-color: variables.$color-primary;
            color: variables.$color-white;
            border: solid 1px variables.$color-primary;
            cursor: pointer;
        }
    }

    i {
        margin-left: 0.2rem;
    }
}

// SKILLS
// Contenedor de skills
.skills {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    margin-top: 3rem;

    div {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div>img {
        width: 4rem;
        height: 4rem;
    }

    div:nth-child(2n)>img {
        animation: animSkill 2s infinite linear alternate;
    }

    div:nth-child(2n + 1)>img {
        animation: animSkill2 2s infinite linear alternate;
    }

    li {
        font-size: 1.5rem;
    }

    @keyframes animSkill {
        0% {
            transform: scale(0.7) rotate(-15deg);
        }

        100% {
            transform: scale(1) rotate(0);
        }
    }

    @keyframes animSkill2 {
        0% {
            transform: scale(0.7) rotate(15deg);
        }

        100% {
            transform: scale(1) rotate(0);
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

// SERVICIOS
// Contenedor de servicios
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: auto;

    .card-services {
        width: 284px;
        height: 318px;
        background-color: transparent;
        border-radius: 5%;
        margin: 0 12px 32px 0;
        transition: 0.3s;

        .card-content {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .card-services-text {
                margin: 1rem 1rem 0;
                text-align: center;
                color: variables.$color-white;

                .card-services-title {
                    font-size: x-large;
                    text-transform: uppercase;
                }

                .card-services-description {
                    font-size: small;
                    font-weight: variables.$regular;
                }
            }
        }

        // Para los pares
        &:nth-child(even) {
            border: 1px solid variables.$color-white;

            .card-content {
                .card-services-text {
                    .card-services-title {
                        color: variables.$color-primary;
                    }
                }
            }
        }

        // Para los impares
        &:nth-child(odd) {
            border: 1px solid variables.$color-primary;

            .card-content {
                .card-services-text {
                    .card-services-title {
                        color: variables.$color-white;
                    }
                }
            }
        }

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
    }
}


// Proyectos
// Contenedor de proyectos
.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: auto;

    .card-project {
        width: 284px;
        height: 385px;
        background-color: variables.$color-card-project-bg;
        border-radius: 5%;
        margin: 0 12px 32px 0;
        padding: 12px 12px 0 12px;
        justify-content: start;
        align-items: center;
        transition: 0.1s;

        .card-project-img {
            width: 100%;
            height: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5%;
            overflow: hidden;
            filter: opacity(0.5);
            transition: filter 0.7s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .card-project-content-text {
            margin: 1rem 1rem 0;
            color: variables.$color-white;

            .card-project-title {
                font-size: large;
                font-weight: variables.$semi-bold;
                text-transform: uppercase;
                color: variables.$color-primary;
            }

            .card-project-description {
                height: 78px;
                font-size: small;
                font-weight: variables.$regular;
                overflow-x: hidden;
                overflow-y: auto;

                /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                }

                &::-webkit-scrollbar:vertical {
                    width: 5px;
                }

                &::-webkit-scrollbar-button:increment,
                &::-webkit-scrollbar-button {
                    display: none;
                }

                &::-webkit-scrollbar:horizontal {
                    height: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #797979;
                    border-radius: 20px;
                    border: 2px solid #f1f2f3;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                }

            }
        }

        .buttons-project {
            display: flex;
            align-content: flex-end;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;

            a {
                button {
                    font-size: revert;
                }
            }
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
            cursor: pointer;

            .card-project-img {
                filter: opacity(1);
            }
        }
    }
}