// Importar las variables
@use "./variables";


// HEADER
.cabecera-container {
    background-color: variables.$color-bg-2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;

    // Logo
    .logo a img {
        max-width: 10rem;
    }
}


// SECCION HOME
// Mixins
@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 6rem 3em 2rem;
}

.sec-home {
    display: flex;
    @include section-display();
    align-items: center;
    justify-content: space-between;
    .home-cta {
        flex:1;
        display:flex;
        flex-direction: column;
        .cta-text {
            color: variables.$color-primary;
        }

        .home-title {
            // width: 20rem;
            font-size: 3rem;
            color: variables.$color-white
        }

        .home-description {
            max-width: 414px;
            color: variables.$color-white
        }

        .lead-magnet {
            a {
                margin-right: 2rem;
                text-decoration: none;
            }
        }
    }

    .home-img img{
        flex:1;
        display:flex;
        width: 18rem;
        border-radius: 50px;
    }
}


// SECCION ABOUT
.sec-about-me {
    display: flex;
    @include section-display();
    padding: 3rem 3em 3rem;
    flex-direction: column;
    justify-content: start;
    .about-title {
        font-size: 2rem;
        color: variables.$color-primary
    }

    .about-text {
        max-width: 100%;
        color: variables.$color-white
    }
}