// Variables de colores
$color-bg: #1A1A29;
$color-bg-2: #181824;
$color-white: #FFFFFF;
$color-light: #F5F5F5;
$color-low-priority: #848191;
$color-primary: #00ADB5;
$color-secondary: #1C5759;
$color-dark: #003032;
$color-card-project-bg: #31313F;

// Variables de tipografia
$font-family: 'Poppins', sans-serif;
$regular: 400;
$medium: 500;
$semi-bold: 600;