* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  .max-limit {
    max-width: var(--layout-max-width);
    margin: 0 auto;
    overflow: hidden;
  }

  body {
    font-family: Poppins, sans-serif;
    font-size: var(--body);
    color: var(--text-color);
    background-color: var(--bg-primary);

    .layout-wrapper {
      padding-right: var(--layout-padding-mobile);
      padding-left: var(--layout-padding-mobile);

      @media only screen and (min-width: 900px) {
        padding-right: var(--layout-padding-desktop);
        padding-left: var(--layout-padding-desktop);
      }
    }

    b,
    strong {
      font-weight: 600;
    }

    a {
      color: var(--text-color);
      text-decoration: none;

      &:hover {
        color: var(--text-color);
      }
    }

    ul,
    ol {
      li {
        text-decoration: none;
        list-style: none;
      }
    }
  }
}
