* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

  .max-limit {
    max-width: var(--layout-max-width);
    margin: 0 auto;
    overflow: hidden;
  }

  body {
    font-family: Poppins, sans-serif;
    font-size: var(--body);
    color: var(--text-color);
    background-color: var(--bg-primary);

    .layout-wrapper {
      max-width: var(--layout-max-width);
      padding-right: var(--layout-padding-mobile);
      padding-left: var(--layout-padding-mobile);
      margin: 0 auto;
      overflow: hidden;

      @media only screen and (min-width: 992px) {
        padding-right: var(--layout-padding-desktop);
        padding-left: var(--layout-padding-desktop);
      }
    }

    .only-mobile {
      display: none;

      @media only screen and (max-width: 992px) {
        display: block;
      }
    }

    .only-desktop {
      display: block;

      @media only screen and (max-width: 992px) {
        display: none;
      }
    }

    b,
    strong {
      font-weight: 600;
    }

    a {
      color: var(--text-color);
      text-decoration: none;

      &:hover {
        color: var(--text-color);
      }
    }

    ul,
    ol {
      li {
        text-decoration: none;
        list-style: none;
      }
    }
  }
}
