:root {
  // colors
  --text-color: #F5F5F5;
  --primary-color: #00ADB5;
  --primary-color-hover: #00acb5db;
  --secondary-color: #215E62;
  --bg-primary: #1A1A29;
  --bg-secondary: #1818244f;
  --gray: #BDBDBD;
  --btn-text-primary-color: #F5F5F5;
  --btn-text-secondary-color: #F5F5F5;

  // font
  --big-title: 34px;
  --title: 24px;
  --body: 14px;
  --btn-text: 14px;
  --sm-text: 12px;
  --medium-text: 20px;

  // spacing
  --section-margin-bottom-mobile: 80px;
  --section-margin-bottom-desktop: 55px;
  --layout-padding-mobile: 8%;
  --layout-padding-desktop: 10%;
  --layout-max-width: 1920px;

  @media only screen and (min-width: 992px) {
    --big-title: 52px;
    --title: 32px;
    --body: 18px;
    --btn-text: 16px;
    --sm-text: 12px;
    --medium-text: 24px;
  }
}

.light-mode {
  --text-color: #333;
  --primary-color: #00ADB5;
  --secondary-color: #215E62;
  --bg-primary: #e1e1e1;
  --bg-secondary: #18182405;
  --gray: #BDBDBD;

  // --bg-secondary: #e9e9e9;
  --btn-text-primary-color: #e9e9e9;
  --btn-text-secondary-color: #333;
}
